<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="resharper-plugins" value="http://resharper-plugins.jetbrains.com/api/v2/" />
  </packageSources>
  <config>
    <add key="DefaultPushSource" value="https://resharper-plugins.jetbrains.com" />
  </config>
  <apikeys>
  </apikeys>
</configuration>
